/* roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto/roboto-v30-latin-regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Roboto/roboto-v30-latin-500.woff2) format('woff2');
}

/* play */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Play/play-v19-latin-regular.woff2) format('woff2');

}


@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Play/play-v19-latin-700.woff2) format('woff2');

}

:root {
  --color-title-main: #2b7fff;
  --color-title-secondary: #011C44;
  --color-main-text: #011c44;
  --color-secondary-text: #000;
  --color-dark-grey: #4A4A4A;
  --color-light-grey: #747272;
  --color-secondary-blue: #011F4A;
  --color-main-white: #FFFFFF;
}

/* main */

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  width: 100%;
}

main {
  flex: 1 1 auto;
}

body {
  color: var(--color-main-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
}

h3 {
  color: var(--color-main-white);
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  width: 152px;
  font-weight: 400;
}

a {
  text-decoration: none;
}



/* header */
.header__container {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}


.header-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 5px;
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 0px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}

.main-logo {
  color: var(--color-title-main);
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
  width: 74px;
  height: 42px;
}

.internal-link {
  color: var(--color-main-text);
}

.internal-link:hover {
  color: var(--color-title-main);
  font-weight: 700;
}

.external-link {
  fill: var(--color-main-text);
  width: 32px;
  height: 32px;
}


/* buttons */

.button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border-color: var(--color-title-main);
  background: var(--color-title-main);
  color: var(--color-main-white);
  font-weight: 600;
  line-height: normal;

}

.button:hover {
  background-color: transparent;
  color: var(--color-secondary-text);
  border: 2px solid var(--color-title-main);
}

/* ================hero section ====================*/
.hero_section,
.header__class {
  display: flex;
  background: linear-gradient(94.33deg, rgb(255, 255, 255) 30.532%, rgba(255, 255, 255, 0.85) 41.2%, rgba(255, 255, 255, 0.19) 58.516%, rgba(255, 255, 255, 0) 72.622%);
}


.hero-picture-conf {}

.hero-picture {
  left: 26%;
  z-index: -2;
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  flex-direction: row-reverse;
  height: auto;
}


.hero__container {
  display: flex;
  height: 657.93px;

}

.hero-title {
  color: var(--color-title-main);
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
  width: 529px;
  padding: 16px 0 40px 0;
}

.hero-section_content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 16px 0 0 106px;
}

.button_hero {
  margin-bottom: 14px;
}

.button-text {
  color: var(--color-dark-grey);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 238px;
}

/*=================== about us section===================== */
.about-us__container {
  display: flex;
  margin-bottom: 176px;
}

.about-us_content {
  max-width: 709px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.about-us-pictures {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
}

.picture-before-block {
  display: flex;
}

.picture-before-procedure {
  border-radius: 50%;
  width: 335px;
  height: 328px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
}

.picture-after-block {
  display: flex;
  justify-content: flex-end;
}

.picture-after-procedure {
  width: 343px;
  height: 328px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
}

.about-us-title {
  padding-top: 40px;
  width: 529px;
}

.about-us-title-highlight {
  color: var(--color-title-main);
  text-transform: capitalize;
}

.about-us-text {
  font-size: 22px;
  line-height: 38px;
  width: 709px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-us-text-highlight {
  font-weight: 600;
  text-transform: capitalize;
}

/*================= why people choose us ===================*/

.choose-us-title {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  width: 432px;
}


.choose-us-highlight {
  color: var(--color-title-main);

}


.why-people-choose-us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
  background: linear-gradient(180.00deg, rgba(43, 127, 255, 0.2) 39.745%, rgba(43, 127, 255, 0) 54.155%, rgba(43, 127, 255, 0) 66.656%);
}

.why-people-choose-us-content {
  display: flex;
  flex-direction: row;
}

.choose-us-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.paragraph-science {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}

.science-logo {
  display: flex;
  justify-content: center;
}

.paragraph-medicine {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}

.medicine-logo {
  display: flex;
  justify-content: center;
}

.paragraph-crown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}

.crown-logo {
  display: flex;
  justify-content: center;

}

.text-why-people-choose-us {
  width: 252px;
  color: var(--color-secondary-text);
  line-height: 24px;
  text-align: center;
}


/* =============== our procedures ==================== */
.our-procedures__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}

.our-procedures-title {
  text-align: center;
  margin-bottom: 48px;
}

.our-procedures-highlight {
  color: var(--color-title-main);
}

.our-procedures-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  align-items: center;
}


.face-massage-2-block {
  position: relative;
  width: 344px;
  height: 456px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-radius: 4px 120px 4px 120px;
  background: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);

}

.face-massage-2 {
  position: absolute;
  z-index: -1;
  border-radius: 4px 120px 4px 120px;
  width: 516px;
  height: 716px;
  left: -35.47%;
  top: -44.54%;

}

.injection-in-face-block {
  position: relative;
  width: 344px;
  height: 456px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-radius: 4px 120px 4px 120px;
  background: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
}

.injection-in-face {
  position: absolute;
  z-index: -1;
  border-radius: 4px 120px 4px 120px;
  width: 767px;
  height: 511px;
  left: -61.47%;
  top: -6.54%;
}

.procedure-of-face-cleaning-block {
  position: relative;
  width: 344px;
  height: 456px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-radius: 4px 120px 4px 120px;
  background: linear-gradient(180.00deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
}

.procedure-of-face-cleaning {
  position: absolute;
  z-index: -1;
  border-radius: 4px 120px 4px 120px;
  width: 463px;
  height: 694px;
  left: -52px;
  right: -67px;
  top: -2px;
  bottom: -236px;
}

.our-procedures-text {
  display: flex;
  position: relative;
  align-items: end;
  bottom: 7.02%;
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  width: 44px;
  padding: 0;
  height: 44px;
  margin: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.77px solid rgb(1, 28, 68);
  backdrop-filter: blur(15.36px);
  background: rgb(255, 255, 255);
}

.carousel-button:hover {
  background-color: #2b7fff;
  border: 0.77px solid rgb(255, 255, 255);
  backdrop-filter: blur(15.36px);

}

.carousel-arrow:hover {
  fill: #FFFFFF;
}

/* ================== contact section =======================*/
.contact-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 94px;
}

.contact-section-highlight {
  display: inline;
  color: var(--color-title-main);
}

.contact-section-title {
  text-align: center;
  display: flex;
  width: 432px;
  height: 75px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 48px;
}

.contact-section-content {
  display: flex;
  flex-direction: row;
}

.contact-map {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 32px;
  border-radius: 32px;
}

.contact-section-form {
  display: flex;
  flex-direction: column;
  padding: 48px 56px;
  background-color: var(--color-main-text);
  border-radius: 32px;
  width: 423px;
}

.contact-form-title {
  display: inline;
  text-wrap: nowrap;
  color: var(--color-main-white);
  font-size: 22px;
  font-weight: 600;
  width: 274px;
  text-align: center;
  margin-bottom: 32px;
}

.contact-form-main {
  display: flex;
  flex-direction: column;
}

.contatc-name {
  display: flex;
  color: #FFFFFF;
  border: 2px solid var(--color-main-white);
  border-radius: 32px;
  padding: 16px 32px;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 15px;

}

.contact-number {
  display: flex;
  color: #FFFFFF;
  border: 2px solid var(--color-main-white);
  border-radius: 32px;
  padding: 16px 32px;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 15px;

}

.contact-email {
  display: flex;
  color: #FFFFFF;
  border: 2px solid var(--color-main-white);
  border-radius: 32px;
  padding: 16px 32px;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 15px;
}

.button-contact-form {
  justify-content: center;
  margin-bottom: 8px;
}

.contact-form-text-highlight {
  color: var(--color-title-main);
}

.confidential-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--color-light-grey);
  font-size: 12px;
  line-height: 18px;
  width: 213px;
}

.confidential-underline {
  text-decoration-line: underline;
}

.confidential-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ====================FOOTER==================== */
.footer {
  overflow: hidden;
  height: 278px;
  position: relative;
  background-color: var(--color-main-text);
  background-image: url(../pictures/background.png);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 56px 0px;
}

.footer-logo {
  display: flex;
  align-items: flex-start;
  color: var(--color-title-main);
  font-family: 'Play';
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
  width: 83px;
}

/* internal links */

.links-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.internal-link-footer {
  color: var(--color-main-white);
  font-size: 16px;
}

.internal-link-footer:hover {
  color: var(--color-title-main);
  font-weight: 700;
}

/* addresses */

.address-links {
  display: flex;
  flex-direction: column;
  width: 192px;
}

.addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.address-footer {
  color: var(--color-main-white);
  font-size: 16px;
}

.address-footer:hover {
  color: var(--color-title-main);
  font-weight: 700;
}

/* logos */
.logo-links-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.external-link-footer {
  fill: #FFFFFF;
}

/* confidential */

.policy {
  font-size: 16px;
  color: #FFFFFF;
}

.copyright {
  font-size: 13px;
  color: var(--color-light-grey);
  width: 203px;

}

.confidential-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  bottom: -41px;
  width: 380px;
  right: -131px;
  height: 190px;
  background-image: url(../pictures/footer/footer-image-of-drugs.png);

}