/* roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto/roboto-v30-latin-regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Roboto/roboto-v30-latin-500.woff2) format('woff2');
}

/* play */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Play/play-v19-latin-regular.woff2) format('woff2');

}


@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Play/play-v19-latin-700.woff2) format('woff2');

}

:root {
  --color-title-main: #2b7fff;
  --color-title-secondary: #011C44;
  --color-main-text: #011c44;
  --color-secondary-text: #000;
  --color-dark-grey: #4A4A4A;
  --color-light-grey: #747272;
  --color-secondary-blue: #011F4A;
  --color-main-white: #FFFFFF;
}

/* main */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

}

body {
  color: var(--color-main-text);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
}

h3 {
  color: var(--color-main-white);
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  width: 152px;
}

a {
  text-decoration: none;
}



/* header */
.header-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 32px;
}

.header {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 16px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  gap: 56px;
}

.main-logo {
  color: var(--color-title-main);
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
  width: 74px;
  height: 42px;
}

.internal-link {
  color: var(--color-main-text);
}

.internal-link:hover {
  color: var(--color-title-main);
  font-weight: 700;
}

/* buttons */

.button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  border-color: var(--color-title-main);
  background: var(--color-title-main);
  color: var(--color-main-white);
  font-weight: 600;
  line-height: normal;

}

.button:hover {
  background-color: transparent;
  color: var(--color-secondary-text);
  border-color: var(--color-title-main);
}

/* hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 165px;
}

.hero-title {
  color: var(--color-title-main);
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 114px;
  text-transform: capitalize;
  width: 529px;
  padding: 37px 0 143px 0;
}

.button-text {
  color: var(--color-dark-grey);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 238px;
}

/* about us section */

.about-us-title {
  width: 529px;
}

.about-us-title-highlight {
  color: var(--color-title-main);
  text-transform: capitalize;
}

.about-us-text {
  font-size: 22px;
  line-height: 38px;
  width: 709px;

}

.about-us-text-highlight {
  font-weight: 600;
  text-transform: capitalize;
}

/* why people choose us */

.choose-us-title {
  text-align: center;
}

.choose-us-highlight {
  color: var(--color-title-main);

}

.text-why-people-choose-us {
  width: 252px;
  color: var(--color-secondary-text);
  line-height: 24px;
  text-align: center;
}


/* our procedures */
.our-procedures-title {
  text-align: center;
}

.our-procedures-highlight {
  color: var(--color-title-main);
}

/* contact section */
.contact-section-highlight {
  color: var(--color-title-main);
}

.contact-section-title {
  text-align: center;
  display: flex;
  width: 432px;
  height: 75px;
  flex-direction: column;
  justify-content: center;
}

.contact-form-text {
  color: var(--color-main-white);
  font-size: 22px;
  font-weight: 600;
  width: 274px;
  text-align: center;
}

.contact-form-text-highlight {
  color: var(--color-title-main);
}

.confidential-text {
  color: var(--color-light-grey);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 213px;

}

.confidential-underline {
  text-decoration-line: underline;
}

/* footer */

.footer-logo {
  color: var(--color-title-main);
  font-family: 'Play';
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
  width: 83px;
}

.footer-link-address {
  color: var(--color-main-white);
  font-size: 16px;
  width: 203px;
}

.internal-link-footer {
  color: var(--color-main-white);
}

.internal-link-footer:hover {
  color: var(--color-title-main);
  font-weight: 700;
}

.address-footer {
  color: var(--color-main-white);
}

.address-footer:hover {
  color: var(--color-title-main);
  font-weight: 700;
}

.policy {
  font-size: 16px;
  color: #FFFFFF;
}

.copyright {
  font-size: 13px;
  color: var(--color-light-grey);
  width: 203px;

}

.footer {
  background-color: var(--color-main-text);
}